#
# cmake
#
cmake
/CmakeCache.txt
/CmakeFiles
/Makefile
/cmake_install.cmake
/tags
/CTestTestfile.cmake
/Testing
*.Po
.dirstamp

#
/lib*

#
# editor
#
.vscode

#
# bazel
#
/bazel-bazel-test
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-testlogs
/bazel-*

#
# ruby
# Currently, this is only for travis CLI to manage ".travis.yml"
#
/Gemfile
/Gemfile.lock
/.bundle
/vendor
