#
# cmake
#
cmake
/CmakeCache.txt
/CmakeFiles
/Makefile
/cmake_install.cmake
/tags
/CTestTestfile.cmake
/Testing
*.Po
.dirstamp

#
# editor
#
.vscode

#
# bazel
#
/bazel-bazel-test
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-testlogs
/bazel-*

#
# ruby
# Currently, this is only for travis CLI to manage ".travis.yml"
#
/Gemfile
/Gemfile.lock
/.bundle
/vendor

#
# sphinx and doxygen
#
doxygen_sqlite3.db


#
# project specific
#
/docs/xml
/docs/_build/.doctrees
/docs/_build/doctrees
/lib*
*.so
*.o
/python/build
/python/dist
/python/recipe
python/recipepy/*/*.cpp

#
# python
#
__pycache__
*.egg-info
